#bgimg{
    filter: brightness(40%);
    /* background-image: url('../../../public/img/illustr.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}