.illustr-container{
    mask-image: url('../../../public/img/mask.svg');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center bottom;
}

#top-logo{
    background-color: rgba(255, 255, 255, 0.651);
}

.line{
    height: 0;
    width: 30%;
    border-bottom: 2px solid var(--color-c-grey);
}

@media (width >= 48rem) { 
    .illustr-container{
        mask-image: none;
    }
 }