@theme{
/* :root{ */
    --color-c-green : #495E57;
    --color-c-green-opaque : #2a3632;
    --color-c-yellow-fade : #ac923f;
    --color-c-yellow : #F1B500;
    --color-c-yellow-darken : #d49f00;
    --color-c-grey : #A5A5A5;
    --color-c-grey-light : #EDEFEE;

    --color-c-font : #333333;
    --color-c-font-secondary : #FEFEFE;
}