@theme{
/* :root{ */
    --color-c-green : #495E57;
    --color-c-green-opaque : #2a3632;
    --color-c-yellow-fade : #ac923f;
    --color-c-yellow : #ffc70f;
    --color-c-yellow-darken : #daa700;
    --color-c-grey : #A5A5A5;

    --color-c-font : #333333;
    --color-c-font-secondary : #FEFEFE;
}